.body {
  font-family: lato;
  color: #606060;
}
.wrap-container {
  overflow: hidden;
}
.no-margin {
  margin: 0;
}
.row-padding {
  padding: 100px 0px;
}
.home-weedid {
  margin-top: 150px;
}
.home-weedid h1 {
  font-weight: 300;
  letter-spacing: 2px;
}
.home-weedid h4 {
  font-weight: 300;
  margin-top: 20px;
  font-size: 21px;
  letter-spacing: 2px;
}
.btn {
  background: #3a95e4;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 7px 29px;
  cursor: pointer;
}
.btn:hover {
  background: #1789ec;
  color: white;
}
.showcase {
  padding-top: 20px;
  padding-bottom: 0px;
}
.showcase img {
  width: 85%;
}
h5.quote {
  font-size: 23px;
  line-height: 35px;
  color: #4e4e4e;
}
h6.writer {
  font-size: 17px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.card-title {
  font-weight: 300;
}
.card-padding {
  padding: 30px;
}
.card-floating {
  border-top: 5px solid #3a95e4;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.border-line {
  position: relative;
}
.border-line::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: #d0d0d0;
  left: -500px;
  right: -500px;
  top: 50%;
}
.row-divider {
  position: relative;
}
.row-divider::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 250, 255, 0) 100%);
  top: 0;
  margin-left: -40%;
  left: 50%;
}
.head-section {
  margin-bottom: 60px;
}
.tech img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tech h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.navbar-weedid {
  margin-top: 50px;
}
.nav-li-weedid li {
  margin-left: 30px;
}
@media (max-width: 540px) {
  .navbar-weedid {
    margin-top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    background: #f9f9f9;
    z-index: 2;
  }

  .navbar-light .navbar-toggler {
    font-size: 16px;
    padding: 5px 7px;
  }

  .nav-li-weedid li {
    margin-left: 0px;
  }
}
